.figure {
  height: auto;

  @media screen and (min-width: 768px) {
    height: 368px;
  }

  @media screen and (min-width: 1024px) {
    height: 400px;
  }

  img {
    image-rendering: -webkit-optimize-contrast;
  }
}

.imgWrapper {
  box-sizing: border-box;
  border-radius: 14px;
  box-shadow: 0 0 64px rgba(0, 0, 0, 0.08);
  & > img {
    image-rendering: -webkit-optimize-contrast;
    border-radius: 14px;
    box-sizing: border-box;
  }
}
