.mainSliderWrapper {
  background-color: #fff;
  h2 {
    font-size: 26px;
    font-weight: 500;
  }
  & > div {
    margin-top: 24px;
    border: 1px solid #f0f0f0 !important;
    border-radius: 8px;
  }
}
