@import '../css/index';

.drillLogoShadow {
  box-shadow: 0px 3.36083px 43.6908px rgba(0, 46, 101, 0.55);
}

.mainPageWrapper {
  background-color: #fff;
  h2 {
    font-size: 32px;
    font-weight: $bold;
  }
}

.figure {
  height: auto;

  @media screen and (min-width: 768px) {
    height: 368px;
  }

  @media screen and (min-width: 1024px) {
    height: 400px;
  }

  img {
    image-rendering: -webkit-optimize-contrast;
  }
}

.shadowImg {
  box-shadow: 0px 3.75249px 11.2575px rgba(27, 25, 27, 0.12);
  background-color: map-get($monochrome, white);
  border-radius: 14px;
}

.imgWrapper {
  box-sizing: border-box;

  img {
    max-width: 327px;
    max-height: 240px;
    box-sizing: border-box;
  }
}

.integrateStepsWrapper {
  background: linear-gradient(176.29deg, #f5faff 3.2%, #f9fcff 36.52%);

  li > h3 {
    font-size: 20px;
  }

  h2,
  h3 {
    color: map-get($monochrome, black);
  }

  p {
    font-size: 16px;
    color: map-get($monochrome, default);
  }

  .integrateStepNumber {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 56px;
    border-radius: 100%;
    color: map-get($monochrome, white);
    font-size: 18px;
    font-weight: $bold;

    @media (min-width: 768px) {
      left: 50%;
      transform: translateX(-50%);
    }
  }

  ol {
    list-style: none;
    counter-reset: counter;

    h3 {
      line-height: 32px;
    }

    li {
      counter-increment: counter;

      &:not(:last-child) {
        &::before {
          content: '';
          position: absolute;
          left: 28px;
          top: 50%;
          width: 1px;
          height: 120%;
          background-color: map-get($monochrome, default);
          opacity: 0.5;

          @media (min-width: 768px) {
            top: 28px;
            left: 50%;
            width: 120%;
            height: 1px;
          }
        }
      }

      &::after {
        @extend .integrateStepNumber;
        content: counter(counter);
        background: linear-gradient(128.65deg, #76b4f4 -60.46%, #3881e7 74.51%);
      }

      &:nth-child(4)::after {
        @extend .integrateStepNumber;
        content: url('/img/done.svg');
        background: map-get($green, success);
      }
    }
  }
}

.features {
  h3 {
    font-weight: $bold;
    color: map-get($monochrome, shade);
    line-height: 48px;
  }

  p {
    font-size: 18px;
  }

  .feature {
    position: relative;
    font-weight: $bold;
    font-size: 18px;
    color: map-get($monochrome, default);
    list-style: none;
    line-height: 24px;
    margin-bottom: 16px;

    &::before {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 16px;
      height: 16px;
      padding-bottom: 6px;
      border-radius: 100%;
      box-sizing: border-box;
    }
  }

  .basicFeature {
    @extend .feature;

    &::before {
      content: url('/img/small-done.svg');
      top: 50%;
      transform: translateY(-50%);
      left: -32px;
      background-color: map-get($primary-blue, medium-tint);
    }
  }

  .individualFeatures {
    box-shadow: 0 20px 64px rgba(16, 33, 64, 0.12);
    border-radius: 16px;
  }

  .individualFeature {
    @extend .feature;

    &::before {
      content: url('/img/small-plus.svg');
      top: 5px;
      left: -32px;
      background-color: map-get($green, success);
    }

    strong {
      display: block;
      margin-bottom: 4px;
    }

    span {
      font-weight: $normal;
      color: map-get($monochrome, shade);
    }
  }
}

.quickStart {
  h2,
  p {
    color: map-get($monochrome, white);
  }
}

.parallax {
  background-color: #fff;
}
