@import 'colors';

body {
  margin-top: 88px; // fixed header height
}

.markdown {
  --ifm-tabs-color-active: #007fff;
  --ifm-hover-overlay: #f8f9fb;
  --ifm-pre-padding: 24px;
  --ifm-navbar-height: 100px;

  button[aria-label='Copy code to clipboard'] {
    top: 8px;
    right: 8px;
    padding: 0 8px !important;
    color: map-get($monochrome, default);
    font-size: 12px !important;
    line-height: 24px;
    background-color: rgba(map-get($monochrome, dark-tint), 0.25) !important;
    border-radius: 4px;
  }

  .thin-scrollbar {
    scrollbar-color: map-get($monochrome, dark-tint)
      map-get($monochrome, medium-tint);
    scrollbar-width: thin;

    &::-webkit-scrollbar {
      max-height: 8px;
      max-width: 8px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: map-get($monochrome, dark-tint);
      border-radius: 4px;
    }

    &::-webkit-scrollbar-track {
      background-color: map-get($monochrome, light-tint);
      border-radius: 0 0 4px 4px;
    }

    &:hover {
      &::-webkit-scrollbar-thumb {
        background-color: map-get($monochrome, dark-tint);
      }
    }
  }
}

.xs\:container {
  max-width: 960px;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 361px) and (max-width: 1024px) {
    padding-right: 24px;
    padding-left: 24px;
  }

  @media screen and (min-width: 1280px) {
    box-sizing: content-box;
  }
}

.container {
  max-width: 1200px !important;
  box-sizing: border-box;
  // @media screen and (max-width: 1024px) {
  //   padding-right: 24px !important;
  //   padding-left: 24px !important;
  // }

  // @media screen and (max-width: 360px) {
  //   padding-right: 16px !important;
  //   padding-left: 16px !important;
  // }

  // @media screen and (min-width: 1280px) {
  //   padding-left: 116px !important;
  //   padding-right: 116px !important;
  //   box-sizing: content-box;
  // }
}

.table-of-contents {
  position: relative;
  margin-top: 24px;
  padding: 0 0 0 8px;

  li {
    padding-left: 8px;
    margin: 0;

    .table-of-contents__link {
      display: block;
      margin-bottom: 8px;
      font-size: 13px;
      line-height: 20px;
      font-weight: $semibold;
      color: map-get($monochrome, dark-tint);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      &--active {
        color: map-get($primary-blue, default);

        &:after {
          content: '';
          position: absolute;
          left: -1px;
          width: 2px;
          height: 20px;
          background-color: map-get($primary-blue, default);
          cursor: default;
        }
      }

      &:hover {
        color: map-get($primary-blue, default);
      }
    }
  }
}

a.hash-link {
  visibility: hidden;

  &:before {
    visibility: visible;
  }
}
