@import 'colors';
@import 'fonts';

.button-primary {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 12px 36px;
  max-height: 48px;
  border-radius: 8px;
  border: 2px solid map-get($primary-blue, default);
  background-color: map-get($primary-blue, default);
  color: map-get($monochrome, white) !important;
  text-decoration: none !important;
  font-weight: $bold;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;

  &:visited {
    color: map-get($monochrome, white) !important;
  }

  &:hover {
    border: 2px solid map-get($primary-blue, medium-tint);
    background-color: map-get($primary-blue, medium-tint);
    color: map-get($monochrome, white) !important;
    text-decoration: none;

    svg {
      fill: map-get($monochrome, white);
    }
  }

  &:active {
    border: 2px solid map-get($primary-blue, shade);
    background-color: map-get($primary-blue, shade);
    color: map-get($monochrome, white) !important;
  }

  svg {
    fill: map-get($monochrome, white);
  }
}
.button-ml {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 14px 40px;
  max-height: 48px;
  border-radius: 8px;
  border: 1px solid map-get($green, ml);
  background-color: map-get($monochrome, white);
  color: map-get($green, ml) !important;
  text-decoration: none !important;
  font-weight: $bold;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
  white-space: nowrap;

  &:visited {
    color: map-get($green, ml) !important;
  }

  &:hover {
    border: 2px solid map-get($primary-blue, medium-tint);
  }

  &:active {
    border: 2px solid map-get($primary-blue, shade);
    color: map-get($green, ml) !important;
  }
}

.button-ml-primary {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 14px 40px;
  max-height: 48px;
  border-radius: 8px;
  border: 1px solid map-get($green, ml);
  background-color: map-get($green, ml);
  color: map-get($monochrome, white) !important;
  text-decoration: none !important;
  font-weight: $bold;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
  white-space: nowrap;

  &:visited {
    color: map-get($monochrome, white) !important;
  }

  &:hover {
    border: 2px solid map-get($primary-blue, medium-tint);
  }

  &:active {
    border: 2px solid map-get($primary-blue, shade);
    color: map-get($monochrome, white) !important;
  }
}

.button-secondary {
  @extend .button-primary;
  border: 2px solid map-get($monochrome, white);
  background-color: map-get($monochrome, white);
  color: map-get($primary-blue, default) !important;

  &:visited {
    color: map-get($primary-blue, default) !important;
  }

  svg {
    fill: map-get($primary-blue, default);
  }

  &:hover {
    border: 2px solid #edf6ff;
    background-color: #edf6ff;
    color: map-get($primary-blue, medium-tint) !important;
  }

  &:active {
    border: 2px solid #b3d9ff;
    background-color: #b3d9ff;
    color: map-get($primary-blue, medium-tint) !important;
  }
}

.button-ghost {
  @extend .button-primary;
  border: 2px solid map-get($primary-blue, default);
  background-color: map-get($monochrome, white);
  color: map-get($primary-blue, default) !important;

  &:visited {
    color: map-get($primary-blue, default) !important;
  }

  svg {
    fill: map-get($primary-blue, default);
  }

  &:hover {
    border: 2px solid map-get($primary-blue, medium-tint);
    color: map-get($primary-blue, medium-tint) !important;
    background-color: map-get($monochrome, white);

    svg {
      fill: map-get($primary-blue, medium-tint);
    }
  }

  &:active {
    border: 2px solid map-get($primary-blue, shade);
    color: map-get($primary-blue, shade) !important;

    svg {
      fill: map-get($primary-blue, shade);
    }
  }
}

.markdown {
  .button-primary,
  .button-secondary,
  .button-ghost {
    padding: 12px 28px;
    margin-bottom: 16px;
    @media screen and (max-width: 360px) {
      width: 100%;
    }
  }
}
